<!doctype html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>django</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <h1 class="text-decoration-underline">welcome</h1>

    <p class="text-bg-primary p-3">

        hi {{user.name}}
        <br>
        email :{{user.email}}
        <br>
        phonnumber : {{user.phone_number}}
        <br>
        city : {{user.city}}


    </p>


</div>


</body>
</html>
