<!doctype html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>django</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <h1 class="text-decoration-underline"> hello.welcome to class </h1>
    <br>
    <br>
    <button type="button" class="btn btn-warning">
        click me 👍👍👍

    </button>
    <br>
    <br>

    <h2 class="text-nowrap bg-body-secondary border" style="width: 8rem;">by 🙌🙌</h2>
    <br>
    <br>

    <p class="fs-1"> hello {{username}} </p>


</div>


</body>
</html>
